<!-- <meta name="description" content="게시글 목록 페에지" />

<style>
    h1{
        color:red;
    }
</style> -->

<!-- <h1>테스트!</h1> -->

            <!--우측 상단 헤더 영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>게시글 정보 조회</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/Home/Index">Home</a> >
                        </li>
                        <li>
                            <a>게시글 정보 조회</a> >
                        </li>
                        <li class="active">
                            <strong>조회</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <div class="wrapper wrapper-content">

                <!-- 조회 옵션 및 조회 버튼 영역 -->
                <form action="/article/list" method="post">
                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="OrderNo">제목</label>
                                    <input type="text" name="title" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="OrderName">아이피주소</label>
                                    <input type="text" name="idaddress" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="MobileNo">사용여부</label>
                                    <select name="displayyn" class="form-control">
                                        <option value="">전체</option>
                                        <option value="Y">게시함</option>
                                        <option value="N">게시안함</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">조회</button>
                            <a href="/article/create" class="btn btn-info">신규</a>
                        </div>
                    </div>
                </form>

                <!-- 조회 결과 목록 표시 영역 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="table-responsive">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th width="10%">글순서</th>
                                                <th width="20%">제목</th>
                                                <th width="10%">조회수</th>
                                                <th width="20%">아이피주소</th>
                                                <th width="10%">게시여부</th>
                                                <th width="10%">등록일</th>
                                                <th width="20%">등록자</th>
                                            </tr>
                                        </thead>
                                        <tbody class="hoverTblBody">
                                            
                                            <% for(var i = 0;i<articles.length;i++){ %>
                                            <tr>
                                                <td><a href="#"><%=articles[i].article_id%></a></td>
                                                <!-- 파라미터 방식으로 전달 -->
                                                <td><a href="/article/modify/<%=articles[i].article_id%>"><%=articles[i].title%></a></td>
                                                <td><%=articles[i].view_count%></td>
                                                <td><%=articles[i].ip_address%></td>
                                                <td><%=articles[i].is_display_code%></td>
                                                <td><%=moment(articles[i].reg_date).format("YYYY-MM-DD")%></td>
                                                <td><%=articles[i].reg_member_id%></td>
                                            </tr>
                                            <% } %>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

<!-- <script>
    // alert("목록페이지")
</script> -->